<div class="container">
<div class="center-jumbotron">
<%= form_for :money, url: root_path do |f| %>
  <%= f.select :currency, @list_cur, {}, class: "btn btn-info dropdown-toggle"%>
  <%= f.submit "Search" , class: "btn btn-sm btn-secondary"%>
<% end %>
</div>
</div>
<div>
<% if !$results.nil? %>
    <%= $currency %> :
    <%= $results%>
  <% end %>
</div>



<br>
